<h3>Configuración general de Escala porcentual </h3>

<div *ngFor="let escala of escalas">

<div class="row d-flex justify-content-start" >
    <div class="input-group mb-3 col-4">
        <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
        <input type="text" class="form-control" aria-label="Sizing example input"  (keyup)="changeNombreEscribania($event)" aria-describedby="inputGroup-sizing-default" value={{escribania.nombre}}>
    </div>
    <div class="input-group mb-3 col-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Matricula</span>
        <input type="text" class="form-control" aria-label="Sizing example input"  (keyup)="changeMatricula($event)" aria-describedby="inputGroup-sizing-default" value={{escribania.matricula}}>
    </div>
    <div class="input-group mb-3 col-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Gestor</span>
        <input type="text" class="form-control" aria-label="Sizing example input"  (keyup)="changeGestor($event)" aria-describedby="inputGroup-sizing-default" value={{escribania.gestor}}>
    </div>

</div>
<div class="row d-flex justify-content-start">
    <div class="input-group mb-3 col-3">
        <span class="input-group-text" id="inputGroup-sizing-default">RCD</span>
        <input type="text" class="form-control" aria-label="Sizing example input"  (keyup)="changeRcd($event)" aria-describedby="inputGroup-sizing-default" value={{escribania.p_rcd}}>
    </div>
    <div class="input-group mb-3 col-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Min. RCD</span>
        <input type="text" class="form-control" aria-label="Sizing example input"  (keyup)="changeMinRcd($event)" aria-describedby="inputGroup-sizing-default" value={{escribania.min_rcd}}>
    </div>
    <div class="input-group mb-3 col-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Municipal</span>
        <input type="text" class="form-control" aria-label="Sizing example input"  (keyup)="changeMunicipal($event)" aria-describedby="inputGroup-sizing-default" value={{escribania.imp_municipal}}>
    </div>

    <div class="input-group mb-3 col-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Folios</span>
        <input type="text" class="form-control" aria-label="Sizing example input"  (keyup)="changeFolios($event)" aria-describedby="inputGroup-sizing-default" value={{escribania.folio}}>
    </div>

    <div class="input-group mb-3 col-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Certificados</span>
        <input type="text" class="form-control" aria-label="Sizing example input"  (keyup)="changeCertificados($event)" aria-describedby="inputGroup-sizing-default" value={{escribania.certificado}}>
    </div>

</div>

</div>


<div class="col-4">
    <button type="button" (click)="actualizarDatos()" class="btn btn-primary btn-lg btn-block btn-info">Actualizar datos</button>
  </div>
