<div class="col-4 mb-4 pl-0 d-flex justify-content-start">
    <button type="button" id="volver" class="btn pl-0" (click)="reset()" [routerLink]="['/configuracionActos']"><span class="material-icons">
        keyboard_backspace
        </span></button>
      </div>
<div>
<div>
    <div class="row d-flex justify-content-start pb-3 ">
        <div class="input-group mb-6 col-6">
            <span class="input-group-text" id="inputGroup-sizing-default nombreActo">NOMBRE ACTO</span>
            <input type="text" class="form-control" aria-label="Sizing example input"  (keyup)="changeNombre($event)" aria-describedby="inputGroup-sizing-default">
        </div>   
    
      
    </div>
    <div class="row d-flex justify-content-start">

        <div class="input-group mb-3 col-4">
            <span class="input-group-text" id="inputGroup-sizing-default">código acto</span>
            <input type="text" class="form-control" aria-label="Sizing example input"  (keyup)="changeCodigo($event)" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 col-4">
            <span class="input-group-text" id="inputGroup-sizing-default">Sellos</span>
            <input type="text" class="form-control" aria-label="Sizing example input" (keyup)="changeSello($event)" aria-describedby="inputGroup-sizing-default" >
            <span class="input-group-text">%</span>
        </div>
        
        
           
        </div>
        <div class="row d-flex justify-content-start">
            <div class="input-group mb-3 col-4">
                <span class="input-group-text" id="inputGroup-sizing-default">Ganancias</span>
                <input type="text" class="form-control" aria-label="Sizing example input" (keyup)="changeGanancias($event)" aria-describedby="inputGroup-sizing-default" >
                <span class="input-group-text">%</span>
            </div>
    
            <div class="input-group mb-3 col-4">
                <span class="input-group-text" id="inputGroup-sizing-default">Iti</span>
                <input type="text" class="form-control" aria-label="Sizing example input" (keyup)="changeIti($event)" aria-describedby="inputGroup-sizing-default" >
                <span class="input-group-text">%</span>
            </div>
        </div>
        <div  class="row d-flex justify-content-start">

            <div class="col-12">
                <p class="mb-0 mt-2">HONORARIOS: </p>
            </div>
     

            <div class="form-check form-switch ml-3 col-12">
                <input class="form-check-input"  [checked]="EPhonorarios" type="checkbox" id="escalaHonorario" (click)="setHonorarioEscala()">
                <label class="form-check-label" for="escalaHonorario">Escala</label>
              </div>
            </div>
              <div *ngIf="!this.EPhonorarios"  class="row d-flex justify-content-start">
     
            <div  class="input-group mb-3 col-4">
                <span class="input-group-text" id="inputGroup-sizing-default">Honorarios</span>
                <input type="text" class="form-control" aria-label="Sizing example input"  (keyup)="changeHonorarios($event)" aria-describedby="inputGroup-sizing-default" value={{actoActual.p_honorarios}}>
                <span class="input-group-text">%</span>
            </div>  

            <div *ngIf="!this.EPhonorarios" class="input-group mb-3 col-4">
                <span class="input-group-text" id="inputGroup-sizing-default">Min. honorarios</span>
                <input type="text" class="form-control" aria-label="Sizing example input" (keyup)="changeMinHonorarios($event)" aria-describedby="inputGroup-sizing-default" value={{actoActual.min_honorarios}}>
            </div>
        </div>

    
        <div  class="row d-flex justify-content-start">

        <div class="col-12">
            <p class="mb-0">APORTES: </p>
        </div>
        <div class="form-check form-switch ml-3 col-12">
            <input class="form-check-input" [checked]="EPaportes"  type="checkbox" id="flexSwitchCheckChecked" (click)="setAporteEscala()">
            <label class="form-check-label" for="flexSwitchCheckChecked">Escala</label>
          </div>
          <div *ngIf="this.EPaportes" class="form-check form-check-inline  ml-3 col-12">
            <input class="form-check-input" (click)="setEscalaCompleta()" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Escala completa</label>
          </div>
          <div  *ngIf="this.EPaportes" class="form-check form-check-inline  ml-3 col-12">
            <input class="form-check-input" (click)="setMediaEscala()" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">1/2 Escala</label>
          </div>
        </div>

            <div  class="row d-flex justify-content-start">
                <div *ngIf="!this.EPaportes" class="input-group mb-3 col-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">Aportes</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" (keyup)="changeAportes($event)" aria-describedby="inputGroup-sizing-default" value={{actoActual.p_aportes}}>
                    <span class="input-group-text">%</span>
                </div>
        
                <div  *ngIf="!this.EPaportes" class="input-group mb-3 col-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">Min. aportes</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" (keyup)="changeMinAportes($event)" aria-describedby="inputGroup-sizing-default" value={{actoActual.min_aportes}}>
                </div>
            </div>
    
    
    </div>

    <div class="col-4 mt-4 d-flex justify-content-start" >    
        <button type="button" (click)="actualizarDatos()" class="btn btn-primary btn-lg ">Actualizar datos</button>
      </div>