.contenedor-view{
    margin: 30px;
}

#totalfinal{
    margin-top: 10px;
    color: black;
    height: 35px;
    font-size: medium;
    background-color: #45B85E;
    font-weight: 500;
}
h3{
    font-style: italic;
}