p{
    font-style: italic;
}


.btn-outline-primary.volver {
    color: #000000;
    background-color: #f8f9fa;
    border-color: #000000;
}
.btn-outline-primary.volver:hover {
    color: #055cb9;
    background-color: #f8f9fa;
    border-color: #055cb9;
}