<h1>{{escribaniaDatosApi[0].nombre}}.-</h1>
<div class="row d-flex justify-content-between">
<h4 class="col-6">Presupuesto.</h4>
<h6 class="col-6 d-flex justify-content-end">{{fechaActual}}</h6>

</div>
<form  [formGroup]="formCalculador"  *ngIf="!isPrinted" class="row g-3">
  <div class="col-12">
      <input type="text" formControlName="nombreCliente" placeholder="Ingrese nombre de cliente" class="form-control" id="inputNombreCliente" >
  </div>
  <div class="col-md-12  mt-2">
    <label for="inputEmail4" class="form-label">Acto</label>
    <select formControlName="acto" id="acto" class="form-control" (change)="setActo($event.target!)" >
      <option selected disabled>Seleccione el acto</option>
      <option  *ngFor="let acto of actosApi" value={{acto.id}} id={{acto.id}}>{{acto.nombre_acto}}</option>
      
    </select>  </div>
    <div class="col-12  mt-2">
      <label for="inputAddress" class="form-label">Valor</label>
      <input formControlName="valor" type="number" placeholder="Valor" class="form-control" id="inputValor" >
    </div>
  
  <div class="col-md-4  mt-2">
    <label for="inputPassword4" class="form-label">Certificados</label>
    <input  formControlName="certificados" type="number" placeholder="Cant. certificados" class="form-control" id="inputCertificados">
  </div>

  <div class="col-md-4 mt-2">
    <label for="inputPassword4" class="form-label">Municipal</label>
    <input formControlName="municipal" type="number" placeholder="Cant. certificados" class="form-control" id="inputCertificados" >
  </div>

  <div class="col-6  mt-2">
    <label for="inputAddress" class="form-label">Folios</label>
    <input  formControlName="folios" type="number" placeholder="Cantidad de folios" class="form-control" id="inputFolios">
    <p *ngIf="!isPrinted" class="exclusion-text ml-2">No incluir duplicados</p>

  </div>
  <div class="col-8">
  <div class="form-check col-4">
    <input formControlName="sellos" class="form-check-input"  type="checkbox" value="" id="flexCheckDefault1">
    <label class="form-check-label" for="flexCheckDefault1">
      Sellos
    </label>
  </div>

  <div class="form-check col-4">
    <input formControlName="ganancias" class="form-check-input"  type="checkbox" value="" id="flexCheckDefault2">
    <label class="form-check-label" for="flexCheckDefault2">
      Ganancias
    </label>
  </div>

  <div class="form-check col-4">
    <input  formControlName="iti" class="form-check-input"  type="checkbox" value="" id="flexCheckDefault3">
    <label class="form-check-label" for="flexCheckDefault3">
      Iti
    </label>
  </div>
</div>



  <div class="col-12 mt-3">
    <button type="button" (click)="calcular()" class="col-4 btn btn-primary btn-lg btn-block btn-info">Calcular</button>
  </div>
</form>


<div class="list mt-5" *ngIf="isPrinted">
<p class="h4 mb-3"><em>{{datos.nombreCliente}}</em></p>
<p class="h5">{{actoActual.nombre_acto}}</p>
<p class="h6">Valor  ${{datos.valor}}</p>
<p class="h6" *ngIf="cantCertificados>0">Certicados : {{cantCertificados}}</p>
<p class="h6" *ngIf="cantFolios>0">Folios : {{cantFolios}}</p>
<p class="h6" *ngIf="tieneSello">Paga sellos</p>
<p class="h6" *ngIf="tieneGanancia">Paga ganancias</p>
<p class="h6" *ngIf="tieneIti">Paga iti</p>


</div>
