#sellos{
    margin-left: 10%;
}

h1{
    font-style: italic;
}
.exclusion-text{
    color: gray;
    font-style: italic;
    font-size: small;
}

.material-icons.md-36 { font-size: 36px; }

.container{
    padding: 32px;
}