<h1>{{escribaniaDatosApi[0].nombre}}.-</h1>
<div class="row d-flex justify-content-between">
<h4 class="col-6">Presupuesto.</h4>
<h6 class="col-6 d-flex justify-content-end">{{fechaActual}}</h6>

</div>
<form class="row g-3">
  <div class="col-12">
      <input type="text" placeholder="Ingrese nombre de cliente" class="form-control" id="inputNombreCliente" (keyup)="setNombreCliente($event)">
  </div>
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Acto</label>
    <select id="acto" class="form-control" (change)="setActo($event.target!)" >
      <option selected disabled>Seleccione el acto</option>
      <option  *ngFor="let acto of actosApi" value={{acto.id}} id={{acto.id}}>{{acto.nombre_acto}}</option>
      
    </select>  </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Valor</label>
      <input type="number" placeholder="Valor" class="form-control" id="inputValor" (keyup)="setValor($event)">
    </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Certificados</label>
    <input type="number" placeholder="Cantidad de certificados" class="form-control" id="inputCertificados" (keyup)="setCertificados($event)">
  </div>
  <div class="col-6">
    <label for="inputAddress" class="form-label">Folios</label>
    <input type="number" placeholder="Cantidad de folios" class="form-control" id="inputFolios" (keyup)="setFolios($event)">
  </div>

  <div class="col-8">
  <div class="form-check col-4">
    <input class="form-check-input"  (click)="setSello()" type="checkbox" value="" id="flexCheckDefault1">
    <label class="form-check-label" for="flexCheckDefault1">
      Sellos
    </label>
  </div>

  <div class="form-check col-4">
    <input class="form-check-input"  (click)="setGanancias()" type="checkbox" value="" id="flexCheckDefault2">
    <label class="form-check-label" for="flexCheckDefault2">
      Ganancias
    </label>
  </div>

  <div class="form-check col-4">
    <input class="form-check-input"  (click)="setIti()" type="checkbox" value="" id="flexCheckDefault3">
    <label class="form-check-label" for="flexCheckDefault3">
      Iti
    </label>
  </div>
</div>


  <div class="col-8">
    <button type="button" [disabled]="restablecer" (click)="calcular()" class="btn btn-primary btn-lg btn-block btn-info">Calcular</button>
  </div>

  <div class="col-4">
    <button type="button" onclick="location.reload()" [disabled]="!restablecer" class="btn btn-primary btn-lg btn-block btn-info">Recargar</button>
  </div>
</form>

<!--<div class="col-4">
<button type="button" class="btn btn-outline-primary">Imprimir <span class="material-icons">
  local_printshop
  </span>
</button>  
</div>-->
