<h1>Formulario</h1>
<form class="row g-3">
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Acto</label>
    <select id="acto" class="form-control" (change)="setActo($event.target!)" >
      <option selected disabled>Seleccione el acto</option>
      <option  *ngFor="let acto of actos" value={{acto.id}} id={{acto.id}}>{{acto.nombre_acto}}</option>
      
    </select>  </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Valor</label>
      <input type="number" placeholder="Valor" class="form-control" id="inputValor" (keyup)="setValor($event)">
    </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Certificados</label>
    <input type="number" placeholder="Cantidad de certificados" class="form-control" id="inputCertificados" (keyup)="setCertificados($event)">
  </div>
  <div class="col-6">
    <label for="inputAddress" class="form-label">Folios</label>
    <input type="number" placeholder="Cantidad de folios" class="form-control" id="inputFolios" (keyup)="setFolios($event)">
  </div>
  <div class="col-6">
    <div class="custom-control custom-radio custom-control-inline">
      <p>Sellos:</p>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" value="1" (click)="setSello($event)" id="conSello" name="conSello" class="custom-control-input">
      <label class="custom-control-label" for="conSello">Si</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" value="0" (click)="setSello($event)"   id="sinSello" name="sinSello" class="custom-control-input" >
    <label class="custom-control-label" for="sinSello">No</label>
    </div>
  

</div>

<div class="col-6">
  <div class="custom-control custom-radio custom-control-inline">
    <p>Ganancias:</p>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" value="1" (click)="setGanancias($event)" id="conGanancia" name="conGanancia" class="custom-control-input">
    <label class="custom-control-label" for="conGanancia">Si</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
  <input type="radio" value="0" (click)="setGanancias($event)"   id="sinGanancia" name="sinGanancia" class="custom-control-input" >
  <label class="custom-control-label" for="sinGanancia">No</label>
  </div>


</div>

<div class="col-6">
  <div class="custom-control custom-radio custom-control-inline">
    <p>Iti:</p>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" value="1" (click)="setIti($event)" id="conIti" name="conIti" class="custom-control-input">
    <label class="custom-control-label" for="conIti">Si</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
  <input type="radio" value="0" (click)="setIti($event)"   id="sinIti" name="sinIti" class="custom-control-input" >
  <label class="custom-control-label" for="sinIti">No</label>
  </div>


</div>



  <div class="col-12">
    <button type="button" (click)="calcular()" class="btn btn-primary btn-lg btn-block btn-info">Calcular</button>
  </div>
</form>

